# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=3b6da01c0b51ebee5cc99aabe7b4b738a6c93ea84fdc2160fd9f162932659162XX

# Google OAuth
GOOGLE_CLIENT_ID=BURAYA_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=BURAYA_GOOGLE_CLIENT_SECRET

# Google Sheets API
GOOGLE_SHEETS_CLIENT_EMAIL=BURAYA_SERVICE_ACCOUNT_EMAIL
GOOGLE_SHEETS_PRIVATE_KEY=BURAYA_PRIVATE_KEY
GOOGLE_SHEETS_SPREADSHEET_ID=BURAYA_SPREADSHEET_ID

# Google Drive API (optional)
GOOGLE_DRIVE_FOLDER_ID=BURAYA_DRIVE_FOLDER_ID

# Gemini AI
GOOGLE_GEMINI_API_KEY=BURAYA_GEMINI_API_KEY

# Google Maps Geocoding
GOOGLE_GEOCODING_API_KEY=BURAYA_GOOGLE_MAPS_API_KEY

# Production için Vercel'de NEXTAUTH_URL=https://sales-tracker-iota.vercel.app olmalı