NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=3b6da01c0b51ebee5cc99aabe7b4b738a6c93ea84fdc2160fd9f162932659162XX

GOOGLE_CLIENT_ID=BURAYA_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=BURAYA_GOOGLE_CLIENT_SECRET

# Gemini için
GOOGLE_API_KEY=BURAYA_GEMINI_API_KEY

# Geocoding için
GOOGLE_MAPS_API_KEY=BURAYA_GOOGLE_MAPS_API_KEY